section {
    padding: 0px 20px;
    .diary {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        .card{
            mat-card-header mat-card-title{
                display: flex;
                align-items: center;
                h3 {
                    margin: 10px 0px;
                }
            }
        }
    }
}